@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Fazendo meu primeiro projetoe</a>.</p>
    <p>@ViewData["email"]</p>
    <p>@ViewData["Aluno"]</p>
</div>
